body{
  background-color: olivedrab;
}
.App{
  background-color: orangered;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  overflow: scroll;
}
#todo-list input{
  background-color:indigo;
   border: 0;
   width: 200px;
   height: 50px;
   margin: 20px;
   padding: 0 20px;
   font-size: 18px;
   border-radius: 10px;
   color: honeydew;
}
#todo-list input::placeholder{
  color: gray;
}
#todo-list input:focus,#todo-list button:focus{
  outline: none;
}
#todo-list button{
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: orange; 
  cursor: pointer; 
  font-weight: bolder;
  color: #fff;
}